<h1>Update: <%= @ingredient.name %></h1>

<form action="/ingredient/<%= @ingredient.id() %>/update" method="post">
  <input name="_method" type="hidden" value="patch" "#{<%= @ingredient.id %>}">

  <label for="nombre">Edit the ingredient:</label>
  <input id="ingredient-name" name="ingredient-name" type="text">

  <button type="submit">Update</button>
</form>
